<form method="post" action="/sessions">
  <div>
    <label for="username">Enter Username</label>
    <input type="text" id="username" name="username" />
  </div>
  <div>
    <label for="password">Enter Password</label>
    <input type="password" id="password" name="password" />
  </div>
  <input type="submit">
</form>
<p>New here? <a href="/users/new">create account</a> </p>
